.main-panel{
    width: inherit !important;
}

i{
    margin-left: 0.2em;
    margin-right: 0.2em;
}

i:hover{
    cursor: pointer;
}

.card-body{
    padding: 1.5rem 2rem !important;
}

.card-body:hover{
    cursor: pointer;
    border: 0px outset #999;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.4);
}

.btn.btn-fw {
    min-width: 133px;
}

.paginationDiv ::ng-deep{
    .page-item.active .page-link {
        // z-index: 1;
        color: #fff;
        background-color:#FC4C02;
        border-color: #FC4C02;
        outline: none !important;
        border: none !important;
    }
}


.paginationDiv{
        .arrow{
            font-size: 13px;
        }
}

.search-field{
    padding-bottom: 1em;
}
 a{
     cursor: pointer;
 }

 .noMatch, .paginationDiv{
    display: flex;
    justify-content: center;
 }

 .mdi-pencil:hover, .mdi-delete:hover, .mdi-download:hover{
    color: #FC4C02;
}

.more-dot {
    background-color: black;
    margin: 0 auto;
    display: inline-block;
    width: 7px;
    height: 7px;
    margin-right: 2px;
    border-radius: 50%;
    transition: background-color 0.3s;
}
.w3-button{
 background-color:white;
 cursor: pointer;
}
.w3-dropdown-content{
    min-width:40px;
}
