.main-panel {
  width: inherit !important;
}
h4 {
  font-family: "ubuntu-medium", sans-serif !important;
  margin-top: 0 !important;
  font-size: 1.2rem !important;
}

i {
  margin-left: 0.2em;
  margin-right: 0.2em;
}

*,
*::before,
*::after {
  box-sizing: border-box !important;
}

.card {
  transition: background-color 1s ease;
  background-color: white;
}

i:hover {
  cursor: pointer;
}

.card-body {
  padding: 1.5rem 2rem !important;
}

.card-body:hover {
  cursor: pointer;
  border: 0px outset #999;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);
}

.btn.btn-fw {
  min-width: 133px;
}

.paginationDiv ::ng-deep {
  .page-item.active .page-link {
    color: #fff;
    background-color: #fc4c02;
    border-color: #fc4c02;
    outline: none !important;
    border: none !important;
  }
}

.paginationDiv {
  .arrow {
    font-size: 13px;
  }
}

.search-field {
  padding-bottom: 1em;
}
a {
  cursor: pointer;
}

.noMatch,
.paginationDiv {
  display: flex;
  justify-content: center;
}

.mdi:hover {
  color: #fc4c02;
}

.more-dot {
  background-color: black;
  margin: 0 auto;
  display: inline-block;
  width: 4px;
  height: 4px;
  margin-right: 1px;
  border-radius: 50%;
  transition: background-color 0.3s;
}
.w3-button {
  cursor: pointer;
  background-color: white;
}

.w3-button:focus .card {
  background-color: black;
}

.w3-dropdown-content {
  min-width: 20px;
  background-color: lightgrey;
}

.w3-dropdown-content:hover {
  background-color: lightgrey;
}

/* Typography */
body {
  font-size: 1rem !important;
  font-family: "ubuntu-medium", sans-serif !important;
  font-weight: initial;
  line-height: normal !important;
  -webkit-font-smoothing: antialiased;
}
.image{
  margin-left:100px;
  height:160px;
  width:240px;
  margin-top:0;
}
#content{
 display:none;
}
.date-label{
  background-color:rgb(255, 145, 0);
  color:white;
  border-radius:10%;
  margin-left:10px;
  margin-right:10px;
  padding:1px;
  font-size:15px;
  height:20px;
}
.date-holder{
  display:flex;
}
.heading-holder{
  display:flex;
  margin-bottom:8px;

}
.card-title{
  font-size:30px;
  top:3px;
  margin-left:10px;
 
}
.fa-calendar{
  color:black;
  font-size:23px;
}
.fa-suitcase{
  color:black;
  font-size:45px;
}
.card-like{
  width:60%;
  padding:0;
 
  position: relative;
   display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
  
}
.date{
  color:black;
}
.bottom{
  margin-left:10px;
}

.make-bold{
  font-weight:bolder;
 
}
.list-item{
  display:flex;
}
.text-muted{
  font-weight:bolder;
  color:#343a40;
}
