<!--Accordion wrapper-->
<!-- <div class="accordion md-accordion accordion-blocks" id="accordionEx78" role="tablist"
  aria-multiselectable="true"> -->

<!-- Accordion card -->
<!-- <div class="card"> -->

<!-- Card header -->
<!-- <div class="card-header" role="tab" id="headingUnfiled"> -->

<!--Options-->
<!-- <div class="dropdown float-left">
        <button class="btn btn-info btn-sm m-0 mr-3 p-2 dropdown-toggle" type="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false"><i class="fas fa-pencil-alt"></i>
        </button>
        <div class="dropdown-menu dropdown-info">
          <a class="dropdown-item" (click)="newCriterion()">Add new Criteria Type</a>
          <a class="dropdown-item" href="#">Rename Round</a>
          <a class="dropdown-item" href="#">Delete Round</a>
        </div>
      </div> -->

<!-- Heading -->
<!-- <a data-toggle="collapse" data-parent="#accordionEx78" href="#collapseUnfiled" aria-expanded="true"
        aria-controls="collapseUnfiled">
        <h5 class="mt-1 mb-0">
          <span>Technical Round</span>
          <i class="fas fa-angle-down rotate-icon"></i>
        </h5>
      </a>

    </div> -->

<!-- Card body -->
<!-- <div id="collapseUnfiled" class="collapse" role="tabpanel" aria-labelledby="headingUnfiled"
      data-parent="#accordionEx78">
      <div class="card-body"> -->

<!--Top Table UI-->
<!-- <div class="table-ui p-2 mb-3 mx-3 mb-4"> -->

<!--Grid row-->
<!-- <div class="row"> -->

<!--Grid column-->
<!-- <div class="col-xl-4 col-lg-6 col-md-12"> -->

<!--Name-->
<!-- <select class="mdb-select colorful-select dropdown-info mx-2">
                <option value="" disabled selected>Bulk actions</option>
                <option value="1">Delete</option>
              </select>

            </div> -->
<!--Grid column-->

<!--Grid column-->
<!-- <div class="col-xl-4 col-lg-6 col-md-6"> -->

<!--Blue select-->
<!-- <select class="mdb-select colorful-select dropdown-info mx-2">
                <option value="" disabled selected>Filter</option>
                <option value="1">All <span> (100)</span></option>
                <option value="1">Active <span> (2000)</span></option>
                <option value="2">Inactive <span> (1000)</span></option>
              </select> -->
<!--/Blue select-->

<!-- </div> -->
<!--Grid column-->

<!-- </div> -->
<!--Grid row-->

<!-- </div> -->
<!--Top Table UI-->

<!-- Table responsive wrapper -->
<!-- <div class="table-responsive mx-3"> -->
<!--Table-->
<!-- <table class="table table-hover mb-0"> -->

<!--Table head-->
<!-- <thead>
              <tr>
                <th>
                  <input class="form-check-input" type="checkbox" id="checkbox">
                  <label for="checkbox" class="mr-2 label-table"></label>
                </th>
                <th class="th-lg"><a><strong>Criteria Name</strong><i class="fas fa-sort ml-1"></i></a></th>
                <th class="th-lg"><a><strong>Created At</strong><i class="fas fa-sort ml-1"></i></a></th>
                <th class="th-lg"><a><strong>Modified At</strong><i class="fas fa-sort ml-1"></i></a></th>
                <th></th>
              </tr>
            </thead> -->
<!--Table head-->

<!--Table body-->
<!-- <tbody>
              <tr>
                <th scope="row">
                  <input class="form-check-input" type="checkbox" id="checkbox1">
                  <label for="checkbox1" class="label-table"></label>
                </th>
                <td>CYGCTID101</td>
                <td>Data Structures</td>
                <td>12.06.2017</td>
                <td>12.06.2017</td>
                <td>
                  <a><i class="fas fa-info mx-1" data-toggle="tooltip" data-placement="top"
                      title="Tooltip on top"></i></a>
                  <a><i class="fas fa-pen-square mx-1"></i></a>
                  <a><i class="fas fa-times mx-1"></i></a>
                </td>
              </tr>
              <tr>
                <th scope="row">
                  <input class="form-check-input" type="checkbox" id="checkbox2">
                  <label for="checkbox2" class="label-table"></label>
                </th>
                <td>CYGCTID102</td>
                <td>Object Oriented Programming</td>
                <td>13.06.2017</td>
                <td>13.06.2017</td>
                <td>
                  <a><i class="fas fa-info mx-1" data-toggle="tooltip" data-placement="top"
                      title="Tooltip on top"></i></a>
                  <a><i class="fas fa-pen-square mx-1"></i></a>
                  <a><i class="fas fa-times mx-1"></i></a>
                </td>
              </tr>
              <tr>
                <th scope="row">
                  <input class="form-check-input" type="checkbox" id="checkbox3">
                  <label for="checkbox3" class="label-table"></label>
                </th>
                <td>CYGCTID103</td>
                <td>Algorithms</td>
                <td>12.06.2017</td>
                <td>12.06.2017</td>
                <td>
                  <a><i class="fas fa-info mx-1" data-toggle="tooltip" data-placement="top"
                      title="Tooltip on top"></i></a>
                  <a><i class="fas fa-pen-square mx-1"></i></a>
                  <a><i class="fas fa-times mx-1"></i></a>
                </td>
              </tr>
            </tbody> -->
<!--Table body-->
<!-- </table> -->
<!--Table-->
<!-- </div> -->
<!-- Table responsive wrapper -->

<!-- </div>
    </div>
  </div> -->
<!-- Accordion card -->

<!-- </div> -->
<!--/.Accordion wrapper-->

<!--Accordion wrapper-->
    <div class="page-header">
     <h2 class="page-title"> <b>Settings </b> </h2>
   </div>
<div
  class="accordion md-accordion accordion-blocks"
  id="accordionEx78"
  role="tablist"
  aria-multiselectable="true"
>
  <!-- Accordion card -->
  <div class="card">
    <!-- Card header -->
    <div class="card-header" role="tab" id="headingUnfiled">
      <!--Options-->
      <div class="dropdown float-right">
        <button
          class="btn btn-gradient-danger mr-2 add-button"
          type="button"
          (click)="addRoundType()"
        >
          <i class="fas fa-plus-circle"></i>
        </button>
      </div>
      <!-- Heading -->
      <a
        data-toggle="collapse"
        data-parent="#accordionEx78"
        href="#collapseUnfiled"
        aria-expanded="true"
        aria-controls="collapseUnfiled"
      >
        <h5 class="mt-1 mb-0">
          <span><b>Round Type </b>
            <i class="fas fa-angle-down rotate-icon"></i></span>
        </h5>
      </a>
      <div id="collapseUnfiled" class="collapse" role="tabpanel" aria-labelledby="headingUnfiled"
      data-parent="#accordionEx78">
      <div class="card">
      <div class="card-body">
          <p>round info</p>
    </div>
    </div>
    </div>
    <div id="collapseUnfiled" class="collapse" role="tabpanel" aria-labelledby="headingUnfiled"
      data-parent="#accordionEx78">
      <div class="card">
      <div class="card-body">
          <p>round info</p>
    </div>
    </div>
    </div>
   
    <form class="card" [formGroup]="roundTypeForm" (ngSubmit)="onSubmit()">
      <div  formArrayName="roundTypes">
        <div *ngFor="let roundType of roundTypes().controls; let typeIndex = index">
        
          <div class="card-body" [formGroupName]="typeIndex">
            Round Type Name :
            <input type="text" class="input-box"formControlName="firstName" />
            <button class="btn btn-gradient-danger mr-2 add-button del-button">
              <i class="fas fa-trash" (click)="removeRoundType(typeIndex)"></i>
            </button>
            <div class="addCriteria" formArrayName="criteria">
              <div
                *ngFor="
                  let criterion of roundCriteria(typeIndex).controls;
                  let criteriaIndex = index
                "
              >
                <div class="criteria form-control" [formGroupName]="criteriaIndex">
                  Criteria Name :
                  <input type="text" class="input-box" formControlName="criterion" />
                  <button class="btn btn-gradient-danger mr-2 add-button del-button">
                    <i
                      class="fas fa-trash"
                      (click)="removeRoundCriteria(typeIndex, criteriaIndex)"
                    ></i>
                  </button>
                </div>
              </div>
              <button
                class="btn btn-gradient-danger mr-2 add-button"
                type="button"
                (click)="addRoundCriteria(typeIndex)"
              >
                <i class="fas fa-plus-circle"></i>
              </button>
              <a>Add New Criterion</a>
            </div>
          </div>
        </div>
      </div>

      <p>
        <button *ngIf="addRound==true" type="submit" class="btn btn-gradient-danger mr-2 submit-button">
          Submit
        </button>
      </p>
    </form>
  </div>
</div>
</div>