.main-panel {
  width: inherit !important;
}
.page-header{
    margin:0 0.5rem 1rem;
}
.card{
    margin:1rem;
}
.add-button {
  width: 2rem;
  padding: 0.5rem;
}
.del-button {
  margin-left: 0.5rem;
}
a {
  color: black !important;
}
.round-type {
  margin: 1rem 1rem;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
}
.input-box{
    height: 2rem;
    background: rgba(0, 0, 0, 0.03);
    border: groove rgb(209, 205, 205) 1px;
}
.addCriteria{
    margin-top: 2rem;
}
.criteria {
  margin: 1rem 2rem;
}
.submit-button {
  margin-left: 20rem;
}
