<div class="main-panel">
  <div class="page-header">
    <h2 class="page-title"><b>Settings </b></h2>
  </div>

  <div class="row">
    <div class="col-md-12 grid-margin accordion md-accordion accordion-blocks mb-0" 
      id="applicationStatusAccordionView"
      role="tablist" 
      aria-multiselectable="true">
      <app-application-status></app-application-status>
    </div>


    <div class="col-md-12 grid-marginaccordion md-accordion accordion-blocks mb-0" 
      id="idProofAccordionView" 
      role="tablist"
      aria-multiselectable="true">

      <app-id-proof-type></app-id-proof-type>

    </div>
    <div class="col-md-12 grid-margin accordion md-accordion accordion-blocks mb-0"
      id="eligibilityCriterionAccordionView" 
      role="tablist"
      aria-multiselectable="true">
      <app-eligibility-criteria></app-eligibility-criteria>
    </div>

    <div class="col-md-12 grid-margin accordion md-accordion accordion-blocks mb-0" 
      id="employmentTypeAccordionView"
      role="tablist" 
      aria-multiselectable="true">
      <app-employment-type></app-employment-type>
    </div>

    <div class="col-md-12 grid-margin accordion md-accordion accordion-blocks mb-0" 
      id="locationAccordionView"
      role="tablist" 
      aria-multiselectable="true">
      <app-location></app-location>
    </div>

    <div class="col-md-12 grid-margin accordion md-accordion accordion-blocks mb-0" 
      id="roundAccordionView"
      role="tablist" 
      aria-multiselectable="true">
      <app-round-type></app-round-type> 
    </div>
  </div>
</div>