package-lock.json
.DS_Store
node_modules/

api/.env

yarn.lock
.vscode/

*.csv

jobDescriptions
.idea

.vs/
Building Blocks/

*.exe

*.pdb

*.manifest

*.cache

*/**/bin/Debug

*/**/bin/Release

*/**/obj/Debug

*/**/obj/Release




