package-lock.json
.DS_Store
node_modules/

api/.env

yarn.lock
.vscode/

*.csv

jobDescriptions
.idea
Building Blocks/

*.swp
*.*~
project.lock.json
.DS_Store
*.pyc

# Visual Studio Code
.vscode

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
*.nuget.*
msbuild.log
msbuild.err
msbuild.wrn

# Visual Studio 2015
.vs/

*.exe
*.pdb
*.manifest
*.cache
*.g.props
**/appsettings.*.json	
**/appsettings.json 	
*.g.targets	

*.g.targets


Arms.Api.csproj~2be29f0c4f54ca4f7629f009fdac4bbae995f4b2
appsettings.json
Arms.Api.csproj.user

[Dd]esktop.ini
debug.log