.image{
    margin-left:100px;
    height:160px;
    width:240px;
    margin-top:0;
}
.date-label{
    background-color:#20B2AA;
    color:white;
    border-radius:10%;
    margin-left:10px;
    margin-right:10px;
    padding:1px;
    font-size:15px;
    height:20px;
}
.date-holder{
    display:flex;
}
.heading-holder{
    display:flex;
    margin-bottom:8px;
}
.card-title{
    font-size:30px;
    top:3px;
    margin-left:10px;
   
}
.fa-calendar{
    color:#20B2AA;
    font-size:23px;
}
.fa-suitcase{
    color:#20B2AA;
    font-size:45px;
}
.card{
    width:60%;
    padding:0;
}
.date{
    color:#20B2AA;
}
.para{
    font-size:10px;
}
.bottom{
    margin-left:10px;
}

.make-bold{
    font-weight:bolder;
   
}
.list-item{
    display:flex;
}