.date{
    margin-left:20px;
}
.display{
    display:flex;
}
.image{
 
 margin-left:100px;
 height:150px;
 margin-top:-8px;
 margin-bottom:-6px;
 padding:0;
}
.make-bold{
    font-weight:bold;
}
.bottom{
    margin-right:250px;
    color:white;
}
.text{
    color:white;
    font-size:400;
}
.foot{
   width: 100%; 
  bottom: -20px; 
  
}
.description{
    font-size:12px;
    max-width:49%;
}