 <!-- Accordion card -->
 <div class="card">
    <!-- Card header -->
    <div class="card-header" role="tab" id="idProofHeadingUnfiled">
      <!--Options-->
      <div class="dropdown float-right">
        <button class="btn mr-2 add-button"
                type="button"
                (click)="addIdProof()">
                 <i class="fas fa-plus"></i>
        </button>
      </div>
      <!-- Heading -->
      <a data-toggle="collapse"
         data-parent="#idProofAccordionView"
         href="#idProofCollapseUnfiled"
         aria-expanded="true"
         aria-controls="idProofCollapseUnfiled">
         <h5 class="mt-1 mb-0">
          <span (click)= "loadIdProofTypes()"><b>Id Proof Type  </b> <i class="fas fa-angle-down rotate-icon"></i></span>
         </h5>
      </a>
      <div id="idProofCollapseUnfiled"
           class="collapse"
           role="tabpanel"
           aria-labelledby="idProofHeadingUnfiled"
           data-parent="#idProofAccordionView">
        <div class="card" *ngFor="let idproof of idProofList">
          <div class="card-body">
            <span class="mr">{{idproof.code}}</span>
            <span class="mr">{{idproof.name}}</span>
            <span><i class="fas fa-trash" (click)="removeidProof(idproof.id)"></i></span>
          </div>
        </div>
      </div>
     

      <form [formGroup]="idProofForm" (ngSubmit)="onSubmit()">
        <div formArrayName="idProofs">
          <div
            *ngFor="let idProof of idProofs().controls;
              let idProofIndex = index">

            <div class="card" *ngIf="addIdProofs == true">
              <div class="card-body" [formGroupName]="idProofIndex">
                ID Proof:
                <input type="text"
                       class="input-box"
                       formControlName="Name"/>
                <button class="btn mr-2 add-button del-button">
                  <i class="fas fa-trash"
                    (click)="deleteNewEntry(idProofIndex)">
                  </i>
                </button>
              </div>
            </div>
          </div>
        </div>

        <p>
          <button
            *ngIf="addIdProofs == true"
            type="submit"
            class="btn btn-gradient-danger mr-2 submit-button">
            Submit
          </button>
        </p>
      </form>
    </div>
  </div>
