<app-interview-detail ></app-interview-detail>

<div class="col-lg-12 stretch-card desktopView">
  <div class="card">
    <div class="card-body">
      <div class="itemsDiv">
        <div class="search-field  d-md-block ">
          <form class="d-flex align-items-center h-100" action="#">
            <div class="input-group ">
              <div class="input-group-prepend bg-transparent card">
                <i class=" card-body input-group-text mdi mdi-magnify"></i>
              </div>
              <input #searchInput (input)="setPageForPagination(searchInput.value)" type="text"
                class="form-control bg-transparent " placeholder="Search ">
            </div>
          </form>
        </div>
        <div *ngIf="title == 'employee'" ngbDropdown class="addEmployee">
          <button class="btn btn-gradient-danger" id="addOption" ngbDropdownToggle><i
              class="mdi mdi-account-plus"></i>Add {{ title | titlecase }}(s)
          </button>
          <div ngbDropdownMenu class="customised-dropdown-parent">
            <button ngbDropdownItem class="btn btn-gradient-danger btn-fw" (click)="openModal('create')"><i
                class="mdi mdi-account-plus"></i> Add {{ title | titlecase }}</button>
            <button ngbDropdownItem class="btn btn-gradient-danger btn-fw" (click)="openFileUploadModal()"><i
                class="mdi mdi-account-plus"></i> Add through file upload</button>
          </div>
        </div>
      </div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th *ngFor="let columnName of columns; let i = index">
              <ng-template #otherCol>{{columnName | uppercase}}</ng-template>
            </th>
          </tr>
        </thead>
        <tbody>
          
          <tr *ngFor="let entry of data ; let i = index">
            <td *ngFor="let columnName of columns;">
              <!-- <ng-container [ngSwitch]="columnName">
                <div *ngSwitchCase="'date'">{{entry[columnName]|date}}</div>
                <div *ngSwitchCase="'jdObjectId'">{{entry[columnName]?.jdTitle}}</div> -->
              <ng-container [ngSwitch]="true">
                <div *ngSwitchCase="columnName=='name'">{{entry['candidate']?.name}}</div>
                <div *ngSwitchCase="columnName=='email'">{{entry['candidate']?.email}}</div>
                <div *ngSwitchCase="columnName=='Job Position'">{{entry['job']?.jobTitle}}</div>
                <div *ngSwitchDefault>{{entry[columnName]}}</div>
              </ng-container>
            </td>
            <td *ngIf="title === 'candidate'"><button type="button" class="btn btn-gradient-danger"
                (click)="showPdf(entry['pdf'])"><i class="fa fa-file-pdf-o"></i> Show CV</button>
            </td>
            <td><a (click)="openModal('update', entry)"><i class="mdi mdi-pencil"></i></a></td>
            <td><a (click)="deleteEntry(entry)"><i class="mdi mdi-delete"></i></a> </td>
          </tr>
        </tbody>
      </table>
      <div class="noMatch">
        <p class="p-2" *ngIf="data?.length==0"> No Match Found</p>
      </div>
    </div>

    <div class="card paginationDiv" *ngIf="pager?.totalPages >= 1 ">
      <div>
        <ul *ngIf="pager?.pages && pager?.pages?.length" class="pagination">

          <li [ngClass]="{disabled:pager.currentPage === 1}" class="page-item previous-item">
            <a (click)="setPageForPagination(searchInput.value, pager.currentPage - 1)" class="page-link"><i
                class="mdi mdi-chevron-left arrow"></i></a>
          </li>
          <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}"
            class="page-item number-item">
            <a (click)="setPageForPagination(searchInput.value, page)" class="page-link">{{page}}</a>
          </li>
          <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}" class="page-item next-item">
            <a (click)="setPageForPagination(searchInput.value, pager.currentPage + 1)" class="page-link"><i
                class="mdi mdi-chevron-right arrow"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="row mobileView">
  <div class="card-body justify-content-between">
    <div ngbDropdown class="addEmployee addMobile">
      <button class="btn btn-gradient-danger" id="addOption" ngbDropdownToggle><i class="mdi mdi-account-plus"></i>Add
        {{ title | titlecase }}(s)
      </button>
      <div ngbDropdownMenu>
        <button *ngIf="title == 'employee'" ngbDropdownItem class="btn btn-gradient-danger" (click)="openModal('create')"><i
            class="mdi mdi-account-plus"></i>Add {{ title | titlecase }} </button>
        <button ngbDropdownItem class="btn btn-gradient-danger" (click)="openFileUploadModal()"><i
            class="mdi mdi-account-plus"></i> Add through file upload</button>
      </div>
    </div>
    <div class="search-field d-md-block">
      <form class="d-flex align-items-center h-100" action="#">
        <div class="input-group w-25">
          <div class="input-group-prepend bg-transparent card">
            <i class="card-body input-group-text border-0 mdi mdi-magnify"></i>
          </div>
          <input #searchInputForSmallDevice (input)="setPageForPagination(searchInputForSmallDevice.value)" type="text"
            class="form-control " placeholder="Search " />
        </div>
      </form>
    </div>
    <div class="noMatch">
      <p class="p-2" *ngIf="data?.length==0"> No Match Found</p>
    </div>
    <div class="mt-4 userCard" *ngFor="let entry of data">
      <ngb-accordion [closeOthers]="true" activeIds="collapse-1">
        <ngb-panel id="collapse-2" class="accordion">
          <ng-template ngbPanelHeader let-opened="opened">
            <div class="  cardMobileView">
              <div class="d-flex justify-content-between">
                <div class="d-flex">
                  <div class="pt-2">
                    <img class="nav-profile-img" src="../../assets/images/customers-icon-3.png" alt="image">
                  </div>
                  <ng-container [ngSwitch]="true">
                    <!-- <h5 *ngSwitchCase="columnName=='jdObjectId'" class="m-0 p-3">{{entry[columnName].jdTitle}}
                    </h5>
                    <h5 *ngSwitchCase="columnName=='name'">{{entry['candidate']?.name}}</h5> -->
                    <h5 *ngSwitchDefault  class="m-0 p-3">{{ entry[columns[0]] }}</h5>
                    
                  </ng-container>

                </div>
                <div class="d-flex">
                  <div class="p-3">
                    <a class="p-2" (click)="openModal('update', entry)"><i class="mdi mdi-pencil"></i></a>
                    <a class="p-2" (click)="deleteEntry(entry)"><i class="mdi mdi-delete"></i></a>
                  </div>
                  <button ngbPanelToggle class="btn btn-link p-0">
                    <i class="mdi mdi-plus"></i>
                  </button>
                </div>
              </div>
            </div>
          </ng-template>
          <ng-template ngbPanelContent>
            <div *ngFor="let columnName of columns " class="py-2">
              <div>
                <b>
                  {{ columnName | uppercase }}
                </b>
              </div>
              <div>
                <ng-container [ngSwitch]="columnName">
                  <div *ngSwitchCase="columnName=='name'">{{entry['candidate']?.name}}</div>
                  <div *ngSwitchCase="columnName=='email'">{{entry['candidate']?.email}}</div>
                  <div *ngSwitchCase="columnName=='Job Position'">{{entry['job']?.jobTitle}}</div>
                  <div *ngSwitchDefault>{{entry[columnName]}}</div>
                </ng-container>
              </div>
            </div>
          </ng-template>
        </ngb-panel>
      </ngb-accordion>
    </div>
  </div>

  <div class="paginationDiv" *ngIf="pager?.totalPages >= 1">

    <ul *ngIf="pager?.pages && pager?.pages?.length" class="pagination">
      <li [ngClass]="{ disabled: pager.currentPage == 1 }" class="page-item previous-item">
        <a (click)="setPageForPagination(searchInputForSmallDevice.value, pager.currentPage - 1)" class="page-link"><i
            class="mdi mdi-chevron-left arrow"></i></a>
      </li>
      <li *ngFor="let page of pager.pages" [ngClass]="{ active: pager.currentPage === page }"
        class="page-item number-item">
        <a (click)="setPageForPagination(searchInputForSmallDevice.value, page)" class="page-link">{{ page }}</a>
      </li>
      <li [ngClass]="{ disabled: pager.currentPage == pager.totalPages }" class="page-item next-item">
        <a (click)="setPageForPagination(searchInputForSmallDevice.value, pager.currentPage + 1)" class="page-link"><i
            class="mdi mdi-chevron-right arrow"></i></a>
      </li>
    </ul>

  </div>
</div>