<div class="main-panel">
    <div class="page-header">
        <h3 class="page-title">Job Profiles
            <button class="add btn btn-gradient-primary font-weight-bold" id="addbtn" routerLink="/form">Add<i class="mdi mdi-file-plus"></i></button>
        </h3>
    </div>

    <div class="row">
        <div class="col-md-6 grid-margin stretch-card" *ngFor="let job of jobsList">
            <div class="card">
                <div class="card-body">

                    <h4 class="font-weight-normal mb-2">Job Description ID: {{job.jdId}} <label class="badge badge-gradient-danger float-right">CLOSED</label>
                    </h4>

                    <h3 class="mb-3">{{job.jdTitle}} <i class="mdi mdi-pencil mdi-24px"></i>
                    </h3>

                    <h6 class="font-weight-normal">Opening Date : {{job.openingDate | date}}
                        <i class="mdi mdi-delete mdi-24px float-right" (click)="deleteJD(job._id)"></i>
                        <i class="mdi mdi-download mdi-24px float-right"></i>
                    </h6>

                    <h6 class="font-weight-normal" [style.visibility]="(job.closingDate) ? 'visible':'hidden'">
                        Closing Date : {{job.closingDate | date}}
                    </h6>

                </div>
            </div>
        </div> 
    </div>
</div>