<div class="main-panel">
  <div class="page-header">
    <h2 class="page-title"><b>Quick Stats </b></h2>
  </div>

  <div class="card mb-4">
    <div class="card-body">
    <div class="app-stats__heading">
      Java Developer
    </div>

    <div class="app-stats-data row">
      <div class="app-stats-data__parent">
        <div class="app-stats-data__parent--subdata">
          50
        </div>
        <div class="app-stats-data__parent--subdataheading">
          Applied
        </div>
      </div>

      <div class="app-stats-data__parent">
        <div class="app-stats-data__parent--subdata">
          5
        </div>
        <div class="app-stats-data__parent--subdataheading">
          Hired
        </div>
      </div>

      <div class="app-stats-data__parent">
        <div class="app-stats-data__parent--subdata">
          20
        </div>
        <div class="app-stats-data__parent--subdataheading">
          Rejected
        </div>
      </div>

      <div class="app-stats-data__parent">
        <div class="app-stats-data__parent--subdata">
          25
        </div>
        <div class="app-stats-data__parent--subdataheading">
          In-progress
        </div>
      </div>
    </div>
    </div>
  </div>
<!--  -->

<div class="card mb-4">
  <div class="card-body">
  <div class="app-stats__heading">
    Full-stack developer
  </div>

  <div class="app-stats-data row">
    <div class="app-stats-data__parent">
      <div class="app-stats-data__parent--subdata">
        50
      </div>
      <div class="app-stats-data__parent--subdataheading">
        Applied
      </div>
    </div>

    <div class="app-stats-data__parent">
      <div class="app-stats-data__parent--subdata">
        5
      </div>
      <div class="app-stats-data__parent--subdataheading">
        Hired
      </div>
    </div>

    <div class="app-stats-data__parent">
      <div class="app-stats-data__parent--subdata">
        20
      </div>
      <div class="app-stats-data__parent--subdataheading">
        Rejected
      </div>
    </div>

    <div class="app-stats-data__parent">
      <div class="app-stats-data__parent--subdata">
        25
      </div>
      <div class="app-stats-data__parent--subdataheading">
        In-progress
      </div>
    </div>
  </div>
  </div>
</div>
<!--  -->

<div class="card mb-4">
  <div class="card-body">
  <div class="app-stats__heading">
    UI developer
  </div>

  <div class="app-stats-data row">
    <div class="app-stats-data__parent">
      <div class="app-stats-data__parent--subdata">
        50
      </div>
      <div class="app-stats-data__parent--subdataheading">
        Applied
      </div>
    </div>

    <div class="app-stats-data__parent">
      <div class="app-stats-data__parent--subdata">
        5
      </div>
      <div class="app-stats-data__parent--subdataheading">
        Hired
      </div>
    </div>

    <div class="app-stats-data__parent">
      <div class="app-stats-data__parent--subdata">
        20
      </div>
      <div class="app-stats-data__parent--subdataheading">
        Rejected
      </div>
    </div>

    <div class="app-stats-data__parent">
      <div class="app-stats-data__parent--subdata">
        25
      </div>
      <div class="app-stats-data__parent--subdataheading">
        In-progress
      </div>
    </div>
  </div>
  </div>
</div>
<!--  -->

<div class="card mb-4">
  <div class="card-body">
  <div class="app-stats__heading">
    Data analyst
  </div>

  <div class="app-stats-data row">
    <div class="app-stats-data__parent">
      <div class="app-stats-data__parent--subdata">
        50
      </div>
      <div class="app-stats-data__parent--subdataheading">
        Applied
      </div>
    </div>

    <div class="app-stats-data__parent">
      <div class="app-stats-data__parent--subdata">
        5
      </div>
      <div class="app-stats-data__parent--subdataheading">
        Hired
      </div>
    </div>

    <div class="app-stats-data__parent">
      <div class="app-stats-data__parent--subdata">
        20
      </div>
      <div class="app-stats-data__parent--subdataheading">
        Rejected
      </div>
    </div>

    <div class="app-stats-data__parent">
      <div class="app-stats-data__parent--subdata">
        25
      </div>
      <div class="app-stats-data__parent--subdataheading">
        In-progress
      </div>
    </div>
  </div>
  </div>
</div>
<!--  -->

</div>