<div class="col-lg-12 stretch-card desktopView">
    <div class="card">
      <div class="card-body">       
        

        <div class="itemsDiv">
            <div class="search-field  d-md-block ">
                <form class="d-flex align-items-center h-100" action="#">
                <div class="input-group ">
                    <div class="input-group-prepend bg-transparent card">
                    <i class=" card-body input-group-text mdi mdi-magnify"></i>
                    </div>
                    <input  #searchInput (input)="search(searchInput.value)" type="text" class="form-control bg-transparent " placeholder="Search ">
                </div>
                </form>
            </div>
            <div ngbDropdown class="addEmployee">  
                <button class="btn btn-outline-primary" 
                    id="addOption" ngbDropdownToggle><i class="mdi mdi-account-plus"></i>Add Employee/s
                </button>
                <div ngbDropdownMenu>
                  <button ngbDropdownItem  class="btn btn-outline-primary btn-fw" (click)="openModal('create')"><i class="mdi mdi-account-plus"></i> Add Employee</button>
                  <button ngbDropdownItem class="btn btn-outline-primary btn-fw" (click)="openUpload()"><i class="mdi mdi-account-plus"></i> Add through file upload</button>
                </div>
              </div>
        </div>
        <table class="table table-striped">
          <thead>
            <tr>
              <th *ngFor = "let columnName of columns; let i = index">{{columnName | uppercase}}</th>
            </tr>
          </thead>
          <tbody>
            <div>
                <small class="p-2" *ngIf="data.length==0"> No Match Found</small>
            </div>
            <tr *ngFor="let entry of data">
              <td *ngFor="let columnName of columns;">
                {{ entry[columnName] }}
              </td>
              <td ><a (click)="openModal('update', entry)"><i class="mdi mdi-pencil"></i></a></td>
              <td><a (click)="deleteEntry(entry)"><i class="mdi mdi-delete"></i></a> </td>
            </tr>
          </tbody>
        </table>
        
      </div>
      
      <div class="card paginationDiv">
        <div >
			<ul *ngIf="pager?.pages && pager?.pages.length" class="pagination">
				
				<li [ngClass]="{disabled:pager.currentPage === 1}" class="page-item previous-item">
					<a (click)="setPage(pager.currentPage - 1)"  class="page-link"><i class="mdi mdi-chevron-left arrow"></i></a>
				</li>
				<li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}" class="page-item number-item">
					<a  (click)="setPage(page)"  class="page-link">{{page}}</a>
				</li>
				<li [ngClass]="{disabled:pager.currentPage === pager.totalPages}" class="page-item next-item">
					<a (click)="setPage(pager.currentPage + 1)" class="page-link"><i class="mdi mdi-chevron-right arrow"></i></a>
				</li>
			</ul>
		</div>
      </div>
    </div>  
  </div>
  
  
  <div class="row mobileView">
    <div class="col-lg-6 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <div class="addEmployee addMobile">
            <button
              (click)="openModal('create')"
              type="button"
              class="btn btn-outline-primary btn-fw"
            >
              <a [routerLink]="['./employee/create']"
                ><i class="mdi mdi-account-plus"></i
              ></a>
            </button>
          </div>
          <div class="search-field d-md-block">
            <form class="d-flex align-items-center h-100" action="#">
              <div class="input-group">
                <div class="input-group-prepend bg-transparent card">
                  <i
                    class="card-body input-group-text border-0 mdi mdi-magnify"
                  ></i>
                </div>
                <input
                  #input
                  (keyup)="search(input.value)"
                  type="text"
                  class="form-control bg-transparent "
                  placeholder="Search "
                />
              </div>
            </form>
          </div>
          <div class="mt-4 userCard" *ngFor="let employee of data">
            <ngb-accordion [closeOthers]="true" activeIds="collapse-1">
              <ngb-panel id="collapse-2" class="accordion">
                <ng-template ngbPanelHeader let-opened="opened" >
                <div class="card  cardMobileView">
                    <div class="d-flex align-items-center justify-content-between">
                        <h5 class="m-0 p-3">{{ employee[columns[0]] }}</h5>
                        <!-- <a (click)="openModal('update', employee)" ><i class="mdi mdi-grease-pencil"></i></a>
                            <a href=""><i class="mdi mdi-delete"></i></a>  -->
                        <button ngbPanelToggle class="btn btn-link p-0">
                        <i class="mdi mdi-plus"></i>
                        </button>
                    </div>
                </div>
                </ng-template>
                <ng-template ngbPanelContent>
                  <div *ngFor="let columnName of columns | slice:1" class="py-2">
                    <div>
                      <b>
                        {{ columnName | uppercase }}
                      </b>
                    </div>
                    <div>
                      {{ employee[columnName] }}
                    </div>
                  </div>
                </ng-template>
              </ngb-panel>
            </ngb-accordion>
          </div>
        </div>
  
        <div class="card paginationDiv">
          <div>
            <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
              <li
                [ngClass]="{ disabled: pager.currentPage == 1 }"
                class="page-item previous-item"
              >
                <a (click)="setPage(pager.currentPage - 1)" class="page-link"
                  ><i class="mdi mdi-chevron-left arrow"></i
                ></a>
              </li>
              <li
                *ngFor="let page of pager.pages"
                [ngClass]="{ active: pager.currentPage === page }"
                class="page-item number-item"
              >
                <a (click)="setPage(page)" class="page-link">{{ page }}</a>
              </li>
              <li
                [ngClass]="{ disabled: pager.currentPage == pager.totalPages }"
                class="page-item next-item"
              >
                <a (click)="setPage(pager.currentPage + 1)" class="page-link"
                  ><i class="mdi mdi-chevron-right arrow"></i
                ></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>