<div class="container-scroller">
  <nav
    class="navbar default-layout-navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row"
  >
    <div
      class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center"
    >
      <a class="navbar-brand brand-logo"
        ><img src="../../assets/images/arms.svg"
      /></a>
      <a class="navbar-brand brand-logo-mini" href="#"
        ><img src="../../assets/images/logo.png" class="nav-profile-image"
      /></a>
    </div>

    <div class="navbar-menu-wrapper d-flex align-items-stretch">
      <button
        class="navbar-toggler navbar-toggler align-self-center"
        type="button"
        (click)="toggleBig()"
        data-toggle="minimize"
      >
        <span class="fas fa-bars"></span>
      </button>

      <ul class="navbar-nav navbar-nav-right">
        <li class="nav-item nav-profile">
          <a class="nav-link">
            <div class="nav-profile-img">
              <img src="../../assets/images/customers-icon-3.png" alt="image" />
            </div>

            <div class="nav-profile-text text pt-0">
              <p class="mb-1 text-black">{{ name | uppercase }}</p>
              <span class="text-secondary text-small">{{
                role | uppercase
              }}</span>
            </div>
          </a>
        </li>

        <li class="nav-item nav-logout d-none d-lg-block">
          <a class="nav-link" href="#" (click)="logout()">
            <i class="fas fa-sign-out-alt"></i>
          </a>
        </li>
      </ul>

      <button
        class="navbar-toggler navbar-toggler-right d-lg-none align-self-center"
        type="button"
        (click)="toggle()"
        data-toggle="offcanvas"
      >
        <span class="fas fa-bars"></span>
      </button>
    </div>
  </nav>

  <div class="container-fluid page-body-wrapper">
    <nav
      class="sidebar sidebar-offcanvas"
      [ngClass]="classNameForToggle"
      id="sidebar"
    >
      <ul class="nav">
        <li
          class="nav-item d-flex flex-row pl-0"
          *ngIf="adminBool"
          routerLinkActive="active"
        >
          <span class="highlight">h</span>
          <a class="nav-link w-100" [routerLink]="['home']">
            <i class="fas fa-home menu-icon"></i>
            <span class="menu-title">Home</span>
          </a>
        </li>

        <li
          class="nav-item d-flex flex-row pl-0"
          *ngIf="adminBool"
          routerLinkActive="active"
        >
          <span class="highlight">h</span>
          <a class="nav-link w-100" [routerLink]="['job-desc']">
            <i class="fas fa-file-alt menu-icon"></i>
            <span class="menu-title">Job Descriptions</span>
          </a>
        </li>

        <li
          class="nav-item d-flex flex-row pl-0"
          *ngIf="adminBool"
          routerLinkActive="active"
        >
          <span class="highlight">h</span>
          <a class="nav-link w-100" [routerLink]="['candidate']">
            <i class="fas fa-users menu-icon"></i>
            <span class="menu-title">Applied Candidates</span>
          </a>
        </li>

        <li
          class="nav-item d-flex flex-row pl-0"
          *ngIf="adminBool"
          routerLinkActive="active"
        >
          <span class="highlight">h</span>
          <a class="nav-link w-100" [routerLink]="['interviews']">
            <i class="fas fa-calendar-check menu-icon"></i>
            <span class="menu-title">Upcoming Interviews</span>
          </a>
        </li>

        <li
          class="nav-item d-flex flex-row pl-0"
          *ngIf="adminBool"
          routerLinkActive="active"
        >
          <span class="highlight">h</span>
          <a class="nav-link w-100" [routerLink]="['interview']">
            <i class="fas fa-hourglass-half menu-icon"></i>
            <span class="menu-title">Create Interview</span>
          </a>
        </li>

        <li
          class="nav-item d-flex flex-row pl-0"
          *ngIf="superuserBool"
          routerLinkActive="active"
        >
          <span class="highlight">h</span>
          <a class="nav-link w-100" [routerLink]="['settings']">
            <i class="fas fa-cogs menu-icon"></i>
            <span class="menu-title">Settings</span>
          </a>
        </li>

        <li
          class="nav-item d-flex flex-row pl-0"
          *ngIf="employeeBool"
          routerLinkActive="active"
        >
          <span class="highlight">h</span>
          <a class="nav-link w-100" [routerLink]="['home']">
            <i class="fas fa-home menu-icon"></i>
            <span class="menu-title">Home</span>
          </a>
        </li>

        <li class="nav-item d-flex flex-row pl-0 d-lg-none">
          <span class="highlight">h</span>
          <a class="nav-link w-100" href="#">
            <span class="menu-title" (click)="logout()">Log Out</span>
            <i class="fas fa-sign-out-alt menu-icon"></i>
          </a>
        </li>
      </ul>
    </nav>

    <div class="main-panel">
      <div class="content-wrapper">
        <router-outlet></router-outlet>
      </div>

      <footer class="footer">
        <div
          class="d-sm-flex justify-content-center justify-content-sm-between"
        >
          <span
            class="text-muted text-center text-sm-left d-block d-sm-inline-block"
            >Copyright © 2020
            <a href="https://www.cygrp.com/" target="_blank">CyberGroup</a>. All
            rights reserved.</span
          >
          <span
            class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"
            >Hand-crafted & made by CyberGroup<i
              class="mdi mdi-heart text-danger"
            ></i
          ></span>
        </div>
      </footer>
    </div>
  </div>
</div>
