<nav class="navbar navbar-expand-lg navbar-light bg-white">
  <div class="mx-5">
    <i class="fab fa-accusoft mr-1"></i>
    <a class="navbar-brand" href="#">ARMS</a>
  </div>
    
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>  
</nav>

<div class="collapse navbar-collapse show bg-white" id="navbarToggleExternalContent">
  <ul class="h-100 m-0 p-0">
    <li class="nav-item sidenav-item">
      <a>Dashboard</a>
      <i class="fas fa-home align-self-center"></i>
    </li>
    <li class="nav-item sidenav-item">
      <a>JD's</a>
      <i class="fas fa-file-alt align-self-center"></i>
    </li>
  </ul>
</div>