.nav-logout :hover {
  color: #fc4c02;
}

#arms:hover {
  color: #fc4c02;
}

.text {
  padding-top: 2em;
}

.sidebar .nav .nav-item .nav-link .menu-title {
  margin-left: 1rem !important;
  margin-right: auto;;
}

.highlight {
  color: white;
}

.sidebar .nav .nav-item.active > .highlight {
  background-color: rgb(240, 79, 35) !important;
  color: rgb(240, 79, 35) !important;
}

*,
*::before,
*::after {
  box-sizing: border-box !important;
}
