<div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Send Job Description</h5>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="handleSubmit($event)" class="forms-sample" #form="ngForm"
          novalidate>
      
          <div class="form-group">
            <label for="email">Email(s) : </label>
            <input name="email"
            [ngModel]="email?.value"
            (ngModelChange)="extractEmailList($event)"
             type="text"
              pattern="^([\w+-.%]+@[\w-.]+\.[A-Za-z]{2,4},?)+$" required class="form-control"
              id="email" placeholder="Email" #email="ngModel" [ngClass]="{ 'is-invalid': email.dirty && email.invalid }">
            <div *ngIf="email.dirty && email.errors?.required" class="invalid-feedback">
              <div><i class="mdi mdi-alert-outline"></i>Email is required</div>
            </div>
            <div *ngIf="email.dirty && email.errors?.pattern" class="invalid-feedback">
              <div><i class="mdi mdi-alert-outline"></i>Enter valid email address</div>
            </div>
          </div>
        
          <div class="d-flex flex-row-reverse">
            <button class="btn btn-light" (click)="ModalClose()">Cancel</button>
            <button type="submit"
              class="btn btn-gradient-primary mr-2">Send</button>
          </div>
        </form>


        <!-- <form #form="ngForm" (ngSubmit)="handleSubmit($event)" class="forms-sample">
          <div class="form-group">
            <span class="label label-primary">Email(s):</span>
            <input
            (ngModelChange)="extractEmailList($event)"
              type="text"
              name="email"
              [ngModel]="email?.value"
              class="form-control"
              #email="ngModel"
              pattern="^([\w+-.%]+@[\w-.]+\.[A-Za-z]{2,4},?)+$"
              id="email" placeholder="Email" #email="ngModel" [ngClass]="{ 'is-invalid': email.dirty && email.invalid }"
            />
          </div>
          <small
          *ngIf="email.touched && email.errors?.required"
          class="form-error-msg">
          Valid email is required to send an invitation.
        </small>
          <small
          *ngIf="email.touched && email.errors?.pattern"
          class="form-error-msg">
          Please enter comma separated list of valid email addresses without spaces in between. No comma is required after last email.
        </small>
        
        <div class="d-flex flex-row-reverse">
            <button class="btn btn-light" (click)="ModalClose()">Cancel</button>
            <button type="submit" class="btn btn-gradient-primary mr-2">Send</button>
        </div>
            <small class="form-error-msg">{{emailList.length}} email(s) will be sent.</small>
        </form> -->

      </div>
    </div>
  </div>