<div class="main-panel">
  <div class="content-wrapper">

  <div class="page-header">
   <h2 class="page-title"> <b>Job Listing Form </b> </h2>
 </div>
 <div class="row">
   <div class="col-md-6 col-lg-12 grid-margin stretch-card">
     <div class="card">
       <div class="card-body">
         <br>
         <form class="forms-sample" [formGroup]="jobListingForm" (ngSubmit)="onSubmit()" novalidate>
           <div class="form-group">
             <label for="jobId">Job ID</label>
             <div class="input-group col-xs-12">
               <span class="input-group-append btn btn-gradient-primary span">
                 CYGJID
               </span>
               <input type="text" class="form-control" id="jobId" #jobId placeholder="Job ID" maxlength="4"
                 (input)="jobId.value=$event.target.value.toUpperCase()" formControlName="jobId"
                 [ngClass]="{ 'is-invalid': submitted && formControls.jobId.errors }" />
               <div *ngIf="submitted && formControls.jobId.errors" class="invalid-feedback">
                 <div *ngIf="formControls.jobId.errors.required"><i class="mdi mdi-alert-outline"></i> Job ID is
                   required</div>
               </div>
             </div>
           </div>
           <div class="form-group">
             <label for="jobTitle">Job Title </label>
             <input type="text" class="form-control" placeholder="Job Title" #jobTitle maxlength="40"
               formControlName="jobTitle" [ngClass]="{ 'is-invalid': submitted && formControls.jobTitle.errors }" />
             <div *ngIf="submitted && formControls.jobTitle.errors" class="invalid-feedback">
               <div *ngIf="formControls.jobTitle.errors.required"><i class="mdi mdi-alert-outline"></i> Job Title is
                 required</div>
             </div>
           </div>

           <div class="form-group">
             <label for="jobDescription">Job Description </label>
             <textarea class="form-control" #jobDescription rows="10" placeholder="Job Description"
               formControlName="jobDescription"
               [ngClass]="{ 'is-invalid': submitted && formControls.jobDescription.errors }"></textarea>
             <div *ngIf="submitted && formControls.jobDescription.errors" class="invalid-feedback">
               <div *ngIf="formControls.jobDescription.errors.required"><i class="mdi mdi-alert-outline"></i> Job
                 Description is required</div>
             </div>
           </div>

           <div class="form-group">
             <label for="openingDate">Opening date </label>
             <input type="date" #openingDate class="form-control" formControlName="openingDate"
               [ngClass]="{ 'is-invalid': submitted && formControls.openingDate.errors }" />
             <div *ngIf="submitted && formControls.openingDate.errors" class="invalid-feedback">
               <div *ngIf="formControls.openingDate.errors.required"><i class="mdi mdi-alert-outline"></i> Opening
                 Date is required</div>
             </div>
           </div>

           <div class="form-group">
             <label for="closingDate">Closing Date </label>
             <input type="date" #closingDate class="form-control" formControlName="closingDate" />
             <div *ngIf="error.isError" class="alert alert-danger">
               {{ error.errorMessage }}
             </div>
           </div>

           <div class="form-group">
             <label for="skills">Skills </label>
             <input type="text" class="form-control" placeholder="Skills" #skills maxlength="30"
               formControlName="skills" [ngClass]="{ 'is-invalid': submitted && formControls.skills.errors }" />
             <div *ngIf="submitted && formControls.skills.errors" class="invalid-feedback">
               <div *ngIf="formControls.skills.errors.required"><i class="mdi mdi-alert-outline"></i> Skills is
                 required</div>
             </div>
           </div>

           <div class="form-group">
             <label for="eligibilityCriteria">Eligibility criteria </label>
             <select class="form-control form-control-lg" placeholder="Criteria" #eligibilityCriteria
               (change)="selectChangeHandlerEligibilityCriteria($event)" formControlName="eligibilityCriteria"
               [ngClass]="{ 'is-invalid': submitted && formControls.eligibilityCriteria.errors }">
               <option>{{eligibilityCriteriaOptions}}</option>
               <option value="High School">High School</option>
               <option value="Bachelor's">Bachelor's</option>
               <option value="Master's">Master's</option>
               <option value="Doctoral">Doctoral</option>
             </select>
             <div *ngIf="submitted && formControls.eligibilityCriteria.errors" class="invalid-feedback">
               <div *ngIf="formControls.eligibilityCriteria.errors.required"><i class="mdi mdi-alert-outline"></i>
                 Eligibility criteria is required</div>
             </div>
           </div>

           <div class="form-group">
             <label for="jobType">Job Type </label>
             <select class="form-control form-control-lg" placeholder="Criteria" #jobType
               (change)="selectChangeHandlerJobType($event)" formControlName="jobType"
               [ngClass]="{ 'is-invalid': submitted && formControls.jobType.errors }">
               <option>{{jobTypeOptions}}</option>
               <option value="full-time">Full-time</option>
               <option value="part-time">Part-time</option>
               <option value="intern">Intern</option>
             </select>
             <div *ngIf="submitted && formControls.jobType.errors" class="invalid-feedback">
               <div *ngIf="formControls.jobType.errors.required"><i class="mdi mdi-alert-outline"></i> Job Type is
                 required</div>
             </div>
           </div>

           <div class="form-group">
             <label for="location">Location </label>
             <select class="form-control form-control-lg" placeholder="Criteria" #location
               (change)="selectChangeHandlerLocation($event)" formControlName="location"
               [ngClass]="{ 'is-invalid': submitted && formControls.location.errors }">
               <option>{{locationOptions}}</option>
               <option> Dallas, TX - USA</option>
               <option> Noida, UP - India</option>
             </select>
             <div *ngIf="submitted && formControls.location.errors" class="invalid-feedback">
               <div *ngIf="formControls.location.errors.required"><i class="mdi mdi-alert-outline"></i> Location is
                 required</div>
             </div>
           </div>

           <div class="form-group">
             <label for="salary">Salary (per annum)</label>
             <input type="number" class="form-control" placeholder="Salary" #salary />
           </div>

           <div class="form-group">
             <label for="vacancies">No .of Vacancies </label>
             <input type="number" class="form-control" placeholder="Vacancies" #vacancies />
           </div>
           <br>
           <button type="button" class="btn btn-light" routerLink="/admin/job-desc">
            Cancel
          </button>
           <button type="submit" class="btn btn-gradient-primary mr-2" (click)="jdFormData()">ADD</button>
          
         </form>
       </div>
     </div>
   </div>
 </div>
</div>
</div>
