<div class="login-block">
  <div class="container">
    <div class="row">
      <div class="col-md-4 login-sec">
        <div class="card">
          <h2 class="text-center">Login Now</h2>
          <a (click)="loginFunction()"> <img src="../../assets/images/outlooklogo.png"
              class="logo-design img-center img-fluid"></a>
        </div>
      </div>
      <div class="col-md-8 banner-sec">
        <div class="carousel-item active">
          <img class="d-block img-fluid" src="../../assets/images/pexels-photo.jpg" alt="First slide">
          <div class="carousel-caption d-none d-md-block">
            <div class="banner-text">
              <h2>Cyber Group</h2>
              <p>Based in Texas, Cyber Group is one of the fastest growing software service companies in the region with
                225+ strong team members in Dallas, Texas and New Delhi, India</p>
            </div>
          </div>
        </div>
      </div>
    </div>
