.text-red {
  color: #ff0000;
}

.text-green {
  color: #6b8e23;
}

.panel-nav {
  background-color: #f2edf3;
}

ul {
  list-style-type: none;
  padding: 0;
}

.nav-item {
  background-color: #f5f5f5;
}

.active {
  color: #fc4c02 !important;
  font-weight: bolder;
}

.panel-link:hover {
  color: #fc4c02 !important;
  cursor: pointer;
}

input[type="date"]::-webkit-inner-spin-button {
  display: none;
  -webkit-appearance: none;
}

.search-field {
  width: 80%;
}

.panel-select {
  border: gray;
  border-style: solid;
  border-width: 1px;
  padding: 1rem;
  margin-left: 20px;
}

.panel-select ul {
  background-color: #f2edf3;
}

.panel-select li:hover {
  cursor: pointer;
}

.search-field li {
  height: 46px;
  padding: 15px 22px;
}

.search-field li:hover {
  background-color: #f5f5f5;
  cursor: pointer;
}

.search-field ul {
  background-color: #ffffff;
  border: #80bdff;
  border-top: white;
  height: fit-content;
  border-style: solid;
  border-width: 0.5px;
  max-height: 10rem;
  margin-left: 39px;
  overflow-y: auto;
}

i:hover {
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .card .card-body {
    padding: 1rem;
  }

  .search-field {
    width: 100%;
  }

  .search-field ul {
    margin-left: 0px;
  }

  .search-field li {
    height: 61px;
    font-size: 10px !important;
  }

  .panel-select {
    margin-left: 0;
  }
}

.emp-card {
  padding: 0.5rem !important;
  background-color: #f2edf3;
}

p {
  margin: 0;
}
