<div class="col-md-12 grid-margin stretch-card" >
    <div class="card">
        <div class="card-header" >
            <h5  class=" title card-title text-center row ml-2"> <b>JOB POSITION :  </b>{{data?.interview?.jobDescription.jobTitle}}    <h5 *ngIf="title=='candidate'" class="pl-2"> (Details Of Round To Be Taken)</h5></h5>
        </div>
        <div class="card-body">
        <div class="row">
        <div class="col pb-1" >
            <div>
                <h6 *ngIf="title=='round'"><b>INTERVIEW ID : </b> {{data?.interview?.code}}</h6>
                <h6 *ngIf="title=='candidate'"><b> ROUND TYPE : </b> {{data?.roundType?.name}}</h6>
            </div>
            
            <div>
                <h6 *ngIf="title=='round'"><b>TIME : </b> {{data?.interview?.time}}</h6>
                <h6 *ngIf="title=='candidate'"><b>ROUND NUMBER : </b> {{data?.roundNumber}}</h6>
            </div>
        </div>
        <div class="col">
            <div>
                <h6 *ngIf="title=='round'"><b>NUMBER OF ROUNDS : </b> {{data?.interview?.noOfRounds}}</h6>
                <h6 *ngIf="title=='candidate'"><b> DATE : </b> {{data?.roundDate | date}}</h6>
                
                
            </div>
            <div>
                <h6 *ngIf="title=='round'"><b>VENUE : </b> {{data?.interview?.venue}}</h6>
            </div>
        </div>
        <div class="col">
            <div>
                <h6 *ngIf="title=='round'"><b>DATE : </b> {{data?.interview?.date | date}}</h6>
                <h6 *ngIf="title=='candidate'"><b>TIME : </b> {{data?.roundTime}}</h6>
            </div>
        </div>
        </div>
    </div>
  </div>
</div>