<div>
  <ul class="progress-tracker progress-tracker--center">
    <li class="progress-step anim--path is-active">
      <a href="">
        <div class="progress-marker" data-text="1"></div>
        <div class="progress-text">Create Interview</div>
      </a>
    </li>

    <li class="progress-step anim--path">
      <a>
        <div class="progress-marker" data-text="2"></div>
        <div class="progress-text">
          Select Panel
        </div>
      </a>
    </li>
  </ul>
</div>
<div>
  <router-outlet></router-outlet>
</div>
