<div class="col-12 stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class= "top"><b>Job Application</b></h4>
        <form name="form" #f="ngForm" >

          <div class="form-group">
            <label for="appliedForJdId">Applied for JD<span class="asterick">*</span></label>
            <input [readOnly]="type == 'progressTracker' || 'candidate'" type="text" name="appliedForJdId" class="form-control" [(ngModel)]="model.appliedForJdId" 
             placeholder="JD referral" #appliedForJdId="ngModel" id="appliedForJdId"
             [ngClass]="{ 'is-invalid': f.submitted && appliedForJdId.invalid }" required>
            <div *ngIf="f.submitted && appliedForJdId.invalid" class="invalid-feedback">
              <div *ngIf="appliedForJdId.errors.required"><i class="mdi mdi-alert-outline"></i>Applied For JD ID field is required</div>
            </div>
          </div>

          <div class="form-group">
            <label for="appliedForPosition">Applied for Position<span class="asterick">*</span></label>
            <input [readOnly]="type == 'progressTracker' || 'candidate'" type="text" name="appliedForPosition" class="form-control" [(ngModel)]="model.appliedForPosition" 
             placeholder="JD referral" #appliedForPosition="ngModel" id="appliedForPosition"
             [ngClass]="{ 'is-invalid': f.submitted && appliedForPosition.invalid }" required>
            <div *ngIf="f.submitted && appliedForPosition.invalid" class="invalid-feedback">
              <div *ngIf="appliedForPosition.errors.required"><i class="mdi mdi-alert-outline"></i>Applied For Position is required</div>
            </div>
          </div>

          <div class="form-group">
            <label for="Name">Full Name<span class="asterick">*</span></label>
            <input [readOnly]="type == 'progressTracker'" type="text" name="name" class="form-control" 
             [(ngModel)]="model.name"  placeholder="Name" #name="ngModel" id="name" 
             [ngClass]="{ 'is-invalid': name.dirty && name.invalid}" required>
            <div *ngIf="name.dirty && name.errors?.required" class="invalid-feedback">
              <div *ngIf="name.errors.required"><i class="mdi mdi-alert-outline"></i>Name is required</div>
            </div>
          </div>

          <div class="form-group">
            <label for="Experience">Experience</label>            
            <input [readOnly]="type == 'progressTracker'" type="text" name="experience" placeholder="Experience" 
             class="form-control" id="experience" [(ngModel)]="model.experience" #experience="ngModel" 
             pattern="^(0?[0-9]|[12][0-9]|3[00])$" [ngClass]="{ 'is-invalid': experience.dirty && experience.invalid}">
            <div *ngIf="experience.dirty && experience.errors?.pattern" class="invalid-feedback">
              <div><i class="mdi mdi-alert-outline"></i>Experience cannot be more than 30</div>
            </div>
          </div>          

          <div class="form-group">
            <label for="email">Email Address<span class="asterick">*</span></label>
            <input [readOnly]="type == 'progressTracker'" type="email" name="email" placeholder="Email" 
             class="form-control" id="email" [(ngModel)]="model.email" #email="ngModel" 
             pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$" 
             [ngClass]="{ 'is-invalid': email.dirty && email.invalid }" required>
            <div *ngIf="email.dirty && email.errors?.required" class="invalid-feedback">
              <div><i class="mdi mdi-alert-outline"></i>Email is required</div>
            </div>
            <div *ngIf="email.dirty && email.errors?.pattern" class="invalid-feedback">
              <div><i class="mdi mdi-alert-outline"></i>Enter valid email</div>
            </div>
          </div>

          <div class="form-group">
            <label for="aadhar">Aadhar Card Number<span class="asterick">*</span></label>
            <input [readOnly]="type == 'progressTracker'"type="text" name="aadhar" placeholder="0000 0000 0000" 
             class="form-control" id="aadhar" [(ngModel)]="model.aadhar" #aadhar="ngModel" pattern="^\d{4}\s\d{4}\s\d{4}$"
             [ngClass]="{ 'is-invalid': aadhar.dirty && aadhar.invalid}" required>
            <div *ngIf="aadhar.dirty && aadhar.errors?.required" class="invalid-feedback">
              <div><i class="mdi mdi-alert-outline"></i>Aadhar Card Number is required</div>
            </div>
            <div *ngIf="aadhar.dirty && aadhar.errors?.pattern" class="invalid-feedback">
              <div><i class="mdi mdi-alert-outline"></i>Enter valid Aadhar Card Number</div>
            </div>
          </div>

          <div class="form-group">
            <label>Resume<span class="asterick">*</span></label>
            <div *ngIf="type !== 'progressTracker'" class="input-group col-xs-12">           
              <input type="file" accept=".pdf, .doc, .docx" name="file" id="file" class="form-control file-upload-info inputfile"
               ng2FileSelect [uploader]="uploader" ngModel #file="ngModel" 
               [ngClass]="{ 'is-invalid': file.dirty && file.invalid}" required>
              <label for="file" class="file-upload-browse btn btn-gradient-danger mr-2">Upload Resume</label>
              <div *ngIf="file.dirty  && file.errors?.required" class="invalid-feedback">
                <div><i class="mdi mdi-alert-outline"></i>Resume is required</div>
              </div>
            </div>

            <div *ngIf="type == 'progressTracker'" class="input-group col-xs-12"> 
              <input [readOnly]="type == 'progressTracker'" type="text" name="file" class="form-control"
              placeholder="CV will be shown here"> 
            </div>
          </div>  
         
          <div class="form-group">
            <label for="Skills">Skills<span class="asterick">*</span></label>
            <textarea [readOnly]="type == 'progressTracker'" name="skills" class="form-control" [(ngModel)]="model.skills"
             id="skills" rows="4" placeholder="Skills"  #skills="ngModel" 
             [ngClass]="{ 'is-invalid': skills.dirty && skills.invalid }" required></textarea>
            <div *ngIf="skills.dirty && skills.errors?.required" class="invalid-feedback">
              <div><i class="mdi mdi-alert-outline"></i>Skills is required</div>
            </div>
          </div>  

          <div class="d-flex flex-row-reverse" *ngIf="type !== 'progressTracker'" >
            <button type="submit" [disabled]="f.invalid" class="btn btn-gradient-danger mr-2" 
            (click)="f.form.valid; createCandidate(f.value); f.resetForm()"><b>Submit</b></button>
            <button class="btn btn-light" (click)="f.resetForm()"><b>Cancel</b></button>
          </div>
          
        </form>
    </div>
  </div>
</div>