.asterick{
    color: rgb(201, 5, 5);
}

.stretch-card{
    padding: 0 5rem;
}
.top{
    padding-bottom: 1.5em;
}

label{
    font-weight: bold;
}

a{
    cursor: pointer;
    color: red($color: #000000);
}





