<div class="col-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Job Application</h4>
        <form name="form" #f="ngForm" novalidate>
          
          <div class="form-group pt-4">
            <label for="Name">Full Name<span class="asterick">*</span></label>
            <input type="text" name="name" class="form-control" [(ngModel)]="model.name"  placeholder="Name" #name="ngModel" id="name" [ngClass]="{ 'is-invalid': f.submitted && name.invalid }" required>
            <div *ngIf="f.submitted && name.invalid" class="invalid-feedback">
              <div *ngIf="name.errors.required"><i class="mdi mdi-alert-outline"></i>Name is required</div>
            </div>
          </div>

          <div class="form-group">
            <label for="Experience">Experience</label>            
            <input type="text" name="experience" placeholder="Experience" class="form-control" id="experience" [ngModel]="model.experience" #experience="ngModel" 
                pattern="^(0?[1-9]|[12][0-9]|3[00])$" 
                [ngClass]="{ 'is-invalid': experience.dirty && experience.invalid}">
              <div *ngIf="experience.dirty && experience.errors?.pattern" class="invalid-feedback">
                <div><i class="mdi mdi-alert-outline"></i>Experience cannot be more than 30</div>
              </div>
          </div>          

          <div class="form-group">
            <label for="email">Email Address<span class="asterick">*</span></label>
            <input type="email" name="email" placeholder="Email" class="form-control" id="email" [ngModel]="model.email" #email="ngModel" 
                pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$" 
                [ngClass]="{ 'is-invalid': email.dirty && email.invalid || f.submitted && email.invalid }" required>
              <div *ngIf="f.submitted && email.errors?.required" class="invalid-feedback">
                <div><i class="mdi mdi-alert-outline"></i>Email is required</div>
              </div>
              <div *ngIf="email.dirty && email.errors?.pattern" class="invalid-feedback">
                <div><i class="mdi mdi-alert-outline"></i>Enter valid email</div>
              </div>
          </div>

          <div class="form-group">
            <label for="aadhar">Aadhar Card Number<span class="asterick">*</span></label>
            <input type="text" name="aadhar" placeholder="0000 0000 0000" class="form-control" id="aadhar" [ngModel]="model.aadhar" #aadhar="ngModel" 
                pattern="^\d{4}\s\d{4}\s\d{4}$"
                [ngClass]="{ 'is-invalid': aadhar.dirty && aadhar.invalid || f.submitted && email.invalid }" required>
              <div *ngIf="f.submitted && aadhar.errors?.required" class="invalid-feedback">
                <div><i class="mdi mdi-alert-outline"></i>Aadhar Card Number is required</div>
              </div>
              <div *ngIf="aadhar.dirty && aadhar.errors?.pattern" class="invalid-feedback">
                <div><i class="mdi mdi-alert-outline"></i>Enter valid Aadhar Card Number</div>
              </div>
          </div>

          <div class="form-group">
            <label>Upload Resume<span class="asterick">*</span></label>
            <div class="input-group col-xs-12">           
              <input type="file" accept=".pdf, .doc, .docx" name="file" id="file" class="form-control file-upload-info inputfile"  ng2FileSelect [uploader]="uploader" ngModel #file="ngModel" [ngClass]="{ 'is-invalid': f.submitted && file.invalid }" required>
              <label for="file" class="file-upload-browse btn btn-gradient-primary">Upload Resume</label>
              <div *ngIf="f.submitted && file.invalid" class="invalid-feedback">
                <div *ngIf="file.errors.required"><i class="mdi mdi-alert-outline"></i>Resume is required</div>
              </div>
            </div>
          </div>  
         
          <div class="form-group">
            <label for="Skills">Skills<span class="asterick">*</span></label>
            <textarea class="form-control" name="skills"  ngModel rows="4" placeholder="Skills"  #skills="ngModel" [ngClass]="{ 'is-invalid': f.submitted && skills.invalid }" required></textarea>
            <div *ngIf="f.submitted && skills.invalid" class="invalid-feedback">
              <div *ngIf="skills.errors.required"><i class="mdi mdi-alert-outline"></i>Skills is required</div>
            </div>
          </div>  

          <div class="form-group">
            <label for="appliedFor">Applied for Position<span class="asterick">*</span></label>
            <input [readOnly] type="text" name="appliedFor" class="form-control" [(ngModel)]="model.appliedFor" 
             placeholder="JD referral" #appliedFor="ngModel" id="appliedFor"
             [ngClass]="{ 'is-invalid': f.submitted && appliedFor.invalid }" required>
      

            <div *ngIf="f.submitted && appliedFor.invalid" class="invalid-feedback">
              <div *ngIf="appliedFor.errors.required"><i class="mdi mdi-alert-outline"></i>Applied For field is required</div>
            </div>
          </div>

          <button class="btn btn-light" (click)="f.resetForm()">Cancel</button>
          <button type="submit" class="btn btn-gradient-primary mr-2" (click)="f.form.valid; createCandidate(f.value); f.resetForm()">Submit</button>
        </form>
      </div>
    </div>
  </div>