<div class="col-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Candidate form details</h4>
        <form name="form" #f="ngForm" novalidate>
          <div class="form-group pt-4">
            <label for="Name">Name<span class="asterick">*</span></label>
            <input type="text" name="name" class="form-control" [(ngModel)]="model.name"  placeholder="Name" #name="ngModel" [ngClass]="{ 'is-invalid': f.submitted && name.invalid }" required>

            <div *ngIf="f.submitted && name.invalid" class="invalid-feedback">
              <div *ngIf="name.errors.required"><i class="mdi-alert-outline"></i>Name is required</div>
           </div>
          </div>
          <div class="form-group">
            <label for="Experience">Experience</label>
            <input type="number" name="experience" class="form-control" [(ngModel)]="model.experience" placeholder="Experience" #experience="ngModel" [ngClass]="{ 'is-invalid': f.submitted && experience.invalid }" min=0 max=30 > 
            <div *ngIf="f.submitted && experience.invalid" class="invalid-feedback">
              <div *ngIf="experience.errors?.customMin"> 
                Minimum required number is 15.
              </div>	
              <div *ngIf="experience.errors?.customMax"> 
                    Maximum number can be 50.
              </div> 
            </div>
          </div>
          <div class="form-group">
            <label for="Email">Email<span class="asterick">*</span></label>
            <input type="email" name="email" class="form-control" [(ngModel)]="model.email" placeholder="Email"  #email="ngModel" [ngClass]="{ 'is-invalid': f.submitted && email.invalid }" required email>
            <div *ngIf="f.submitted && email.invalid" class="invalid-feedback">
              <div *ngIf="email.errors.required"><i class="mdi mdi-alert-outline"></i>Email is required</div>
              <div *ngIf="email.errors.email"><i class="mdi mdi-alert-outline"></i>Email must be a valid email address</div>
          </div>
          </div>
          <div class="form-group">
            <label>CV<span class="asterick">*</span></label>
            <div class="input-group col-xs-12">              
              <input type="file" name="cv" class="form-control file-upload-info"  ng2FileSelect [uploader]="uploader" ngModel #cv="ngModel" [ngClass]="{ 'is-invalid': f.submitted && cv.invalid }" required>
              <label for="files" class="file-upload-browse btn btn-gradient-primary">Upload CV</label>
              <div *ngIf="f.submitted && cv.invalid" class="invalid-feedback">
                <div *ngIf="cv.errors.required"><i class="mdi mdi-alert-outline"></i>CV is required</div>
              </div>
            </div>
          </div>   
          <div class="form-group">
            <label for="Skills">Skills<span class="asterick">*</span></label>
            <textarea class="form-control" name="skills"  ngModel rows="4" placeholder="Skills"  #skills="ngModel" [ngClass]="{ 'is-invalid': f.submitted && skills.invalid }" required></textarea>
            <div *ngIf="f.submitted && skills.invalid" class="invalid-feedback">
              <div *ngIf="skills.errors.required"><i class="mdi mdi-alert-outline"></i>Skills is required</div>
            </div>
          </div>  
          <div class="form-group">
            <label for="appliedFor">Applied for</label>
            <input type="text" class="form-control" ngModel id="appliedFor" rows="4" placeholder="JD referral" name="appliedFor" #appliedFor="ngModel">
          </div>      
          <button type="submit" class="btn btn-gradient-primary mr-2" (click)="f.form.valid; createCandidate(f.value); f.resetForm()">Submit</button>
          <button class="btn btn-light" (click)="f.resetForm()">Cancel</button>
        </form>
      </div>
    </div>
  </div>