<div class="main-panel">
    <div class="content-wrapper">
      <div class="page-header">
        <h3 class="page-title">Candidate Progress Tracker</h3>
      </div>
      <div class="row">
        <div class="col-md-6 col-lg-12 grid-margin">
              <br />
              <ul class="progress-tracker progress-tracker--center">
                <li class="progress-step anim--path is-active">
                  <a href="">
                    <div class="progress-marker" data-text=""></div>
                    <div class="progress-text">
                    
                    </div>
                  </a>
                </li>

                <li class="progress-step anim--path is-complete">
                  <a href="">
                    <div class="progress-marker" data-text="1"></div>
                    <div class="progress-text">
                      Applied Successfully
                    </div>
                  </a>
                </li>
  
                <li class="progress-step anim--path">
                  <a href="#/">
                    <div class="progress-marker" data-text="2"></div>
                    <div class="progress-text">
                      Interview Scheduled
                    </div>
                  </a>
                </li>
  
                <li class="progress-step anim--path " aria-current="step">
                  <a href="form">
                    <div class="progress-marker" data-text="3"></div>
                    <div class="progress-text">
                      Round 1
                    </div>
                  </a>
                </li>
  
                <li class="progress-step anim--path">
                  <a href="#/">
                    <div class="progress-marker" data-text="4"></div>
                    <div class="progress-text">
                      Round 2
                    </div>
                  </a>
                </li>
  
                <li class="progress-step anim--path">
                  <a href="#/">
                    <div class="progress-marker" data-text="5"></div>
                    <div class="progress-text">
                      Round 3
                    </div>
                  </a>
                </li>
              </ul>
              <app-candidate-form></app-candidate-form>
        </div>
      </div>
    </div>
</div>