@import "node_modules/progress-tracker/src/styles/progress-tracker.scss";

.title{
    margin-top: 2rem;
    padding-left: 4rem;
}

.page-title{
    text-align: center !important;
}

.main-panel{
    width: inherit !important;
}

.progress-marker::after{
    z-index: 10;
}

.progress-step.is-complete .progress-marker::before{
    background-color: rgb(248, 164, 8);
}

.progress-step.is-complete .progress-marker::after{
    background: rgb(248, 164, 8);
}

.progress-step.is-active .progress-marker::before{
    border: 2px solid rgb(248, 164, 8) ;
    background-color: white;
    color: black;
}

li:focus{
    outline: none;
}

.progress-step:hover  .progress-marker::before{
    background-color: rgb(248, 164, 8);
}

.mdi{
    font-size: 1.2rem
}


.progress-text{
    font-weight: bold;
}

a{
    cursor: pointer;
}
