<div class="main-panel">
    <div class="content-wrapper">
      <div class="page-header">
        <h3 class="page-title header"><b>Progress Tracker</b></h3>
      </div>
      <div class="row">
        <div class="col-md-6 col-lg-12 grid-margin">
              <br />
              <ul class="progress-tracker progress-tracker--center">
                <li class="progress-step anim--path is-complete">
                  <a >
                    <div class="progress-marker" data-text=""></div>
                    <div class="progress-text">
                    
                    </div>
                  </a>
                </li>
                
                <li class="progress-step anim--path " routerLink="applied" [ngClass]="{'is-complete': applicationStatusName === 'AppliedSuccessfully'}">
                  <a>
                    
                    <div class="progress-marker" data-text=""></div>
                    <div class="progress-text">
                      Applied Successfully
                      <div *ngIf="applicationStatusName === 'AppliedSuccessfully'">
                        <i  class="mdi mdi-checkbox-marked-circle-outline"></i>
                      </div>
                    </div>
                  </a>
                </li>
  
                <li class="progress-step anim--path"  [ngClass]="{'is-active': applicationStatusName === 'AppliedSuccessfully', 'is-complete': applicationStatusName === 'InterviewScheduled'}">
                  <a>
                    <div class="progress-marker" data-text=""></div>
                    <div class="progress-text">
                      Process Started
                      <div *ngIf="applicationStatusName === 'InterviewScheduled'">
                        <i  class="mdi mdi-checkbox-marked-circle-outline"></i>
                      </div>
                    </div>
                  </a>
                </li>
  
                <li class="progress-step anim--path" 
                *ngFor="let index of [].constructor(noOfRounds); index as i" aria-current="step">
                  <a>
                    <div class="progress-marker" data-text=''></div>
                    <div class="progress-text">
                      Round {{i+1}}
                    </div>
                  </a>
                </li>
  
                <li class="progress-step anim--path" >
                  <a>
                    <div class="progress-marker" data-text=""></div>
                    <div class="progress-text">
                      Result
                    </div>
                  </a>
                </li>
              </ul>
              <router-outlet  > </router-outlet>
        </div>
      </div>
    </div>
  </div>
