@import "node_modules/progress-tracker/src/styles/progress-tracker.scss";

.title{
    margin-top: 2rem;
    padding-left: 4rem;
}

.main-panel{
    width: inherit !important;
}

.progress-marker::after{
    z-index: 10;
}