.main-panel{
  width: inherit !important;
}

.analytics-parent{
  flex-direction: column;
}
.chart {
  position: relative;
  min-height: unset;
  height: 15rem;
}
.card-body{
  padding: 1rem !important;
}