<div class="main-panel">
  <div class="page-header">
    <h2 class="page-title"><b>Analytics </b></h2>
  </div>

  <div class="card mb-4">
        <div class="card-body">
          <div class="clearfix">
            <h4 class="card-title float-left">
              Applicants vs Hired candidates
            </h4>
          </div>

          <div class="chart">
          <canvas
            id="applicants-vs-hired-chart"
            class="mt-1"
            baseChart
            [datasets]="barChartData"
            [labels]="barChartLabels"
            [options]="barChartOptions"
            [legend]="barChartLegend"
            [chartType]="barChartType">
        </canvas>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-body">
          <div class="clearfix">
            <h4 class="card-title float-left">
              Profile Vacancies
            </h4>
          </div>

          <canvas
            id="profile-vacancies-chart"
            class="mt-1"
            baseChart
            [data]="doughnutChartData"
            [labels]="doughnutChartLabels"
            [chartType]="doughnutChartType"
            [options]="doughnutChartOptions"
            >
          </canvas>

        </div>
      </div>
</div>