<div class="container">
  <div class="row">
    <div class="col-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title myclass" ><b>Create Interview</b></h4>
          <form
            class="forms-sample"
            #form="ngForm"
            [formGroup]="registerForm"
            (ngSubmit)="createInterview(form.value)"
          >
            <div class="form-group">
              <label for="jobDescription">Job Description</label>
              <textarea
                name="Name" id="Name"
                formControlName="Name"
                class="form-control" 
                [ngClass]="{ 'is-invalid': submitted && f.Name.errors }"
                placeholder="Job Description"
                rows="2"
                maxlength="500"
                required
              ></textarea>
              <div *ngIf="submitted && f.Name.errors" class="invalid-feedback">
              <div *ngIf="f.Name.errors.required"><i class="mdi mdi-alert-outline"></i>Job description is required</div>
              </div>
            </div>
            <div class="form-group">
              <label for="noOfRounds">Number of Rounds</label>
              <select
              name="noOfRounds" id="noOfRounds"
              formControlName="noOfRounds"
                class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.noOfRounds.errors }" 
                placeholder="Number of Rounds"
                min="3"
                max="5"
                required
              >
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
              </select>
              <div *ngIf="submitted && f.noOfRounds.errors" class="invalid-feedback">
                <div *ngIf="f.noOfRounds.errors.required"><i class="mdi mdi-alert-outline"></i>Number of rounds is required</div>
                </div>
            </div>
            <div class="form-group">
              <label for="panelOfInterviewers">Panel of Interviewers</label>
              <div class="input-group">
                <input
                  type="text"
                  name="panelOfInterviewers" id="panelOfInterviewers"
                  formControlName="panelOfInterviewers"
                  class="form-control" 
                  [ngClass]="{ 'is-invalid': submitted && f.panelOfInterviewers.errors }"
                  placeholder="Panel of Interviewers"
                  aria-label="Recipient's username"
                  aria-describedby="basic-addon2"
                  required
                />
                <div class="input-group-append">
                  <button
                    class="btn btn-sm btn-gradient-primary"
                    type="button"
                    required
                  >
                    Search
                  </button>
                </div>
                <div *ngIf="submitted && f.panelOfInterviewers.errors" class="invalid-feedback">
                  <div *ngIf="f.panelOfInterviewers.errors.required"><i class="mdi mdi-alert-outline"></i>Interviewer name is required</div>
                  </div>
              </div>
            </div>

            <div class="form-group">
              <label for="roundType">Round Type</label>
              <select
              name="roundType" id="roundType"
              formControlName="roundType"
              class="form-control" 
              [ngClass]="{ 'is-invalid': submitted && f.roundType.errors }"
              placeholder="Round Type"
              required
              >
                <option value="Written">Written</option>
                <option value="Group Discussion">Group Discussion</option>
                <option value="Technical">Technical</option>
                <option value="HR">HR</option>
                <option value="Behavioural">Behavioural</option>
              </select>
              <div *ngIf="submitted && f.roundType.errors" class="invalid-feedback">
                <div *ngIf="f.roundType.errors.required"><i class="mdi mdi-alert-outline"></i>Round type is required</div>
                </div>
            </div>
            <div class="form-group">
              <label for="time">Time of Interview</label>
              <input
              type="datetime"
              name="time" id="time"
              formControlName="time"
              class="form-control" 
              [ngClass]="{ 'is-invalid': submitted && f.time.errors }"
              placeholder="Time"
              required
              />
              <div *ngIf="submitted && f.time.errors" class="invalid-feedback">
              <div *ngIf="f.time.errors.required"><i class="mdi mdi-alert-outline"></i>Time is required</div>
              </div>
            </div>
            <div class="form-group">
              <label for="date">Date of Interview</label>
              <input
              type="date"
              name="date" id="date"
              formControlName="date"
              class="form-control" 
              [ngClass]="{ 'is-invalid': submitted && f.date.errors }"
                placeholder="Date"
                required
              />
              <div *ngIf="submitted && f.date.errors" class="invalid-feedback">
              <div *ngIf="f.date.errors.required"><i class="mdi mdi-alert-outline"></i>Date is required</div>
              </div>
            </div>
            <button
              type="submit"
              class="btn btn-gradient-primary mr-2"
              (click)="onSubmit()"
              required
            >
              Submit
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
