<div class="page-header">
  <h4 class="page-title myclass" ><b>Create Interview</b></h4>
</div>
      <div class="card">
        <div class="card-body">
          <form
            class="forms-sample"
            #form="ngForm"
            (ngSubmit)="createInterview(form.value)"
          >
          <div class="form-group top">
            <label for="jdId">Jd Id <span class="asterick">*</span></label>
            <div class="input-group col-xs-12">
            <span class="input-group-append btn btn-gradient-danger span">
              CYGJID
            </span>
            <input
                type="text"
                name="jdId"
                [ngModel]="interview.jdId"
                class="form-control"
                #jdId="ngModel"
                id="jdId"
                [ngClass]="{ 'is-invalid': jdId.dirty && jdId.invalid }"
                placeholder="Jd ID"
                maxlength="4"
                required
              >
            <div *ngIf="jdId.dirty && jdId.errors?.required"  class="invalid-feedback">
              <div><i class="mdi mdi-alert-outline"></i>JD Id is required</div>
            </div>
          </div>
        </div>
            <div class="form-group">
              <label for="jd">Job Title<span class="asterick">*</span></label>
              <input
                name="jd"
                type="text"
                [(ngModel)]="interview.jd"
                class="form-control"
                id="jd"
                #jd="ngModel"
                [ngClass]="{ 'is-invalid': jd.dirty && jd.invalid }"
                placeholder="Job Title"
                required
              >
              <div *ngIf="jd.dirty && jd.errors?.required" class="invalid-feedback">
                <div><i class="mdi mdi-alert-outline"></i>Job Title is required</div>
              </div>
            </div>
            <div class="form-group">
              <label for="date">Date<span class="asterick">*</span></label>
              <input
                name="date"
                type="date"
                [(ngModel)]="interview.date"
                class="form-control"
                id="date"
                #date="ngModel"
                [ngClass]="{ 'is-invalid': date.dirty && date.invalid }"
                placeholder="Date"
                required
              >
              <div *ngIf="date.dirty && date.errors?.required" class="invalid-feedback">
                <div><i class="mdi mdi-alert-outline"></i>Date is required</div>
              </div>
            </div>

            <div class="form-group">
              <label for="time">Time<span class="asterick">*</span></label>
              <input
                name="time"
                type="datetime"
                [ngModel]="interview.time"
                class="form-control"
                id="time"
                #time="ngModel"
                [ngClass]="{ 'is-invalid': time.dirty && time.invalid }"
                placeholder="Time"
                required
              >
              <div *ngIf="time.dirty && time.errors?.required" class="invalid-feedback">
                <div><i class="mdi mdi-alert-outline"></i>Time is required</div>
              </div>
            </div>

            <div class="form-group">
              <label for="noOfRounds">Number of Rounds<span class="asterick">*</span></label>
              <select
                name="noOfRounds"
                type="number"
                [ngModel]="interview.noOfRounds"
                class="form-control"
                id="noOfRounds"
                #noOfRounds="ngModel"
                [ngClass]="{ 'is-invalid': noOfRounds.dirty && noOfRounds.invalid }" 
                min="3"
                max="5"
                required
              >
                <option value="selectRounds" disabled>Select Rounds</option>
                <option class="select-css" value="1">1</option>
                <option class="select-css"value="2">2</option>
                <option class="select-css"value="3">3</option>
                <option class="select-css"value="4">4</option>
                <option class="select-css"value="5">5</option>
              </select>
              <div *ngIf="noOfRounds.dirty && noOfRounds.errors?.required" class="invalid-feedback">
                <div><i class="mdi mdi-alert-outline"></i>No. of rounds is required</div>
              </div>
            </div>
            <div class="form-group">
              <label for="venue">Venue<span class="asterick">*</span></label>
              <input
                name="venue"
                type="text"
                [ngModel]="interview.venue"
                class="form-control"
                id="venue"
                #venue="ngModel"
                [ngClass]="{ 'is-invalid': venue.dirty && venue.invalid }"
                placeholder="Venue"
                required
              >
              <div *ngIf="venue.dirty && venue.errors?.required" class="invalid-feedback">
                <div><i class="mdi mdi-alert-outline"></i>Venue is required</div>
              </div>
            </div>
            <button
            class="btn btn-gradient-danger mr-2"
            routerLink="/admin/interview/schedule"
            >
            Go To Select Panel
            <i class= "mdi mdi-chevron-double-right">
            </i>
            </button>
            <div class="d-flex flex-row-reverse">
            
            <button
            type="submit"
            class="btn btn-gradient-danger mr-2"
            [disabled]="!form.valid"
            >
            Create
            </button>
            <button
            type="button"
            class="btn btn-light"
            (click)="form.resetForm()"
          >Cancel</button>
          </div>
          </form>
        </div>
      </div>
   

