@media(max-width:350px){
    .eval-table-col{
        padding-left: 0;
        
    }
    
}
label, button{
    font-weight: bold;
}

form{
    padding-top: 2rem;
}
.asterick{
    color: rgb(201, 5, 5);
}
.heading{
    font-weight: bold;
}