<div class="main-panel">
  <div class="content-wrapper">
    <div class="page-header">
        <h3 class="page-title">Analytics</h3>
    </div>

    <div class="row">
      <div class="col-md-6 col-lg-6 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <div class="clearfix">
              <h4 class="card-title float-left">
                  Applicants vs Hired candidates
              </h4>
            </div>

              <canvas
                id="applicants-vs-hired-chart"
                class="mt-4"
                baseChart
                [datasets]="barChartData"
                [labels]="barChartLabels"
                [options]="barChartOptions"
                [legend]="barChartLegend"
                [chartType]="barChartType">
              </canvas>

          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-6 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <div class="clearfix">
              <h4 class="card-title float-left">
                  Profile Vacancies
              </h4>
            </div>

              <canvas
                id="profile-vacancies-chart"
                class="mt-4"
                baseChart
                [data]="doughnutChartData"
                [labels]="doughnutChartLabels"
                [chartType]="doughnutChartType">
              </canvas>
              
          </div>
        </div>
      </div>
    </div>
  </div>
</div>