.card {
  margin: 0.7rem;
}
.card-body {
  padding: 0.7rem !important;
  display: flex;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.03);
}
.add-button {
  width: 2rem;
  padding: 0.5rem;
}
.del-button {
  margin-left: 0.5rem;
}
a {
  color: black !important;
}
.input-box {
  height: 1.8rem;
  background: white;
  border: groove black 1px;
}
.submit-button {
  margin-left: 20rem;
}
.mr {
  margin-right: 2rem;
}
.card-header{
  background-color: white;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}